<% users = @users %>
<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <%= image_tag user.image.thumb100.to_s %>
      <%= user.name %>
      <p><%= link_to 'ユーザ詳細', user_path(user) %></p>
      
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>
