<div class="row">
  <aside class="col-sm-4">
    <ul class="list-unstyled">
      <%= image_tag @user.image.thumb100.to_s %>
      <%= @user.name %>
        <% if current_user == @user %>
          <p><%= link_to 'ユーザ情報編集', edit_user_path(@user) %></p>
        <% else %>
        <% end %>
    </ul>
  </aside>
  <div class="col-sm-8">
    <p>中身</p>
  </div>
</div>

