<div class="center jumbotron">
  <div class="text-center">
    <h1>game review logo</h1>
      <p>ゲームのレビューの投稿、お気に入り機能はログインが必要です。</p>
        <p>ログイン　or　会員登録</p>
        
      <h3>新着のレビュー</h3>
        <p>中身</p>
      <h3>評価ランキング</h3>
        <p>中身</p>
      <p>レビュー一覧へ</p>
  </div>
</div>